
    <div class="container d-flex justify-content-center align-items-center vh-100">
        <div class="card shadow-sm" style="width: 100%; max-width: 400px;">
            <div class="card-body">
                <h4 class="card-title text-center mb-4">Regístrate</h4>

                <form (ngSubmit)="addUsuario($event, nombre, correo, edad, password, hobbies)">
                    <!-- Form fields go here -->
                    <div class="mb-3">
                      <label for="nombre" class="form-label">Nombre</label>
                      <input type="text" [(ngModel)]="nombre" class="form-control" id="nombre" name="nombre" required>
                    </div>
                    <div class="mb-3">
                      <label for="correo" class="form-label">Correo Electrónico</label>
                      <input type="email" [(ngModel)]="correo" class="form-control" id="correo" name="correo" required>
                    </div>
                    <div class="mb-3">
                      <label for="edad" class="form-label">Edad</label>
                      <input type="number" [(ngModel)]="edad" class="form-control" id="edad" name="edad" required min="16">
                    </div>
                    <div class="mb-3">
                      <label for="password" class="form-label">Contraseña</label>
                      <input type="password" [(ngModel)]="password" class="form-control" id="password" name="password" required>
                    </div>
                    <div class="mb-3">
                      <label for="hobbies" class="form-label">Selecciona tus hobbies</label>
                      <select class="form-select" id="hobbies" [(ngModel)]="hobbies" name="hobbies[]" multiple required>
                        <option value="futbol">Fútbol</option>
                        <option value="baloncesto">Baloncesto</option>
                        <option value="ciclismo">Ciclismo</option>
                        <option value="senderismo">Senderismo</option>
                        <option value="pintura">Pintura</option>
                        <option value="fotografia">Fotografía</option>
                        <option value="escultura">Escultura</option>
                        <option value="teatro">Teatro</option>
                        <option value="programacion">Programación</option>
                        <option value="robotica">Robótica</option>
                        <option value="lectura">Lectura</option>
                        <option value="escritura">Escritura</option>
                        <option value="videojuegos">Videojuegos</option>
                        <option value="ajedrez">Ajedrez</option>
                        <option value="canto">Canto</option>
                        <option value="bailar">Bailar</option>
                        <option value="cocinar">Cocinar</option>
                        <option value="costura">Costura</option>
                        <option value="carpinteria">Carpintería</option>
                        <option value="jardinera">Jardinería</option>
                      </select>
                    </div>
                  
                    <div class="d-grid">
                      <button type="submit" class="btn btn-custom">Crear Cuenta</button>
                    </div>
                  </form>
                  
                  

                <div class="mt-3 text-center">
                    <small>¿Ya tienes una cuenta? <a routerLink = "/sesion">Inicia sesión</a></small>
                </div>
            </div>
        </div>
    </div>

    <!-- Scripts de Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>