
    <div class="container d-flex justify-content-center align-items-center vh-100">
        <div class="card shadow-sm" style="width: 100%; max-width: 400px;">
            <div class="card-body">
                <h4 class="card-title text-center mb-4">Regístrate</h4>

                <form (ngSubmit)="addUsuario($event, nombre, correo, edad, password)">
                    <!-- Form fields go here -->
                    <div class="mb-3">
                      <label for="nombre" class="form-label">Nombre</label>
                      <input type="text" [(ngModel)]="nombre" class="form-control" id="nombre" name="nombre" required>
                    </div>
                    <div class="mb-3">
                      <label for="correo" class="form-label">Correo Electrónico</label>
                      <input type="email" [(ngModel)]="correo" class="form-control" id="correo" name="correo" required>
                    </div>
                    <div class="mb-3">
                      <label for="edad" class="form-label">Edad</label>
                      <input type="number" [(ngModel)]="edad" class="form-control" id="edad" name="edad" required min="16">
                    </div>
                    <div class="mb-3">
                      <label for="password" class="form-label">Contraseña</label>
                      <input type="password" [(ngModel)]="password" class="form-control" id="password" name="password" required>
                    </div>
                  
                    <div class="d-grid">
                      <button type="submit" class="btn btn-custom">Crear Cuenta</button>
                    </div>
                  </form>
                  
                  

                <div class="mt-3 text-center">
                    <small>¿Ya tienes una cuenta? <a routerLink = "/sesion">Inicia sesión</a></small>
                </div>
            </div>
        </div>
    </div>

    <!-- Scripts de Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>