<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="card shadow-sm" style="width: 100%; max-width: 400px;">
    <div class="card-body">
      <h4 class="card-title text-center mb-4">Iniciar Sesión</h4>

      <form action="#" method="POST">
        <!-- Campo para correo electrónico -->
        <div class="mb-3">
          <label for="email" class="form-label" aria-placeholder="correo">Correo Electrónico</label>
          <input type="email" class="form-control" id="email" name="email" required>
        </div>

        <!-- Campo para la contraseña -->
        <div class="mb-3">
          <label for="password" class="form-label">Contraseña</label>
          <input type="password" class="form-control" id="password" name="password" required>
        </div>

        <!-- Botón de inicio de sesión con color personalizado -->
        <div class="d-grid">
          <button type="submit" class="btn btn-custom">Iniciar Sesión</button>
        </div>
      </form>

      <div class="mt-3 text-center">
        <small>¿No tienes una cuenta? <a routerLink = "/registrar">Regístrate</a></small>
      </div>
    </div>
  </div>
</div>